<% provide(:title, 'reception') %>

<div class="jumbotron text-center animated bounceIn" id="title" style="background:white;width:75%;display:block;margin:auto;">
  <h1>Dr. Zorders</h1>
  <p>Stay healthy by answering just two questions.</p>

  <!-- <a class="btn btn-primary btn-lg"> -->
  <% if signed_in? %>
    <li class="btn btn-primary btn-lg"><%= link_to "search", user_path(current_user) %></li>
  <% else %>
    <li class="btn btn-primary btn-lg"><%= link_to "sign up", signup_path %></li>
    <!-- get started</a> -->
  <% end %>
</div>