<% provide(:title, 'Edit Profile') %>
<div class="jumbotron text-center animated bounceIn" id="title" style="background:white;width:75%;display:block;margin:auto;" >
<h1>Edit Profile</h1>

<%= render 'users/fields' %>
</div>