<% provide(:title, 'My Patients') %>
<div class="jumbotron text-center animated bounceIn" id="title">
<h1>My patient list:</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user.id) %>
      <%# if current_user.admin?  && !current_user?(user) %>
         <%= link_to "delete", user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%# end %>
    </li>
  <% end %>
</ul>
</div>