<% provide(:title, 'Sign Up') %>
<div class="jumbotron text-center animated bounceIn" id="title" style="background:white;width:75%;display:block;margin:auto;" >
<h1>Sign Up</h1>

<%= render 'users/fields' %>

</div>