<% provide(:title, @user.name) %>
<div class="jumbotron text-center animated bounceIn" id="title" style="background:white;width:75%;display:block;margin:auto;">
  <h1>Hello <span style="color:red"><%= @user.name %></span>, welcome to my office.</h1>
  <h3>Please fill in your info below:</h3>
  <br>
  <form class="navbar-form" role="search" action="/checkups">
    <div class="radio" style="padding:10px">
      <label><input type="radio" name="gender" value="male"> male </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="gender" value="female"> female </label>
    </div>
    <br>
    <div class="form-group"><input type="integer" name="age" value="<%= @age %>" class="form-control" placeholder="age">
      <button type="submit" class="btn btn-primary hvr-grow" onclick="window.location.href='/index'">submit</button>
    </div>
  </form>
</div>  
</div>