<% provide(:title, @user.name) %>
<div class="container-fluid">
  <p>Hello <%= @user.name %>. Looks like you got here just in time!<br>Just kidding, you look great. Trust me, I'm a doctor.<br>Speaking of which, let's get healthy shall we?<br>Just tell me a couple of things, and I'll make some suggestions. If you want, I'll even remind you via text.</p>
  <br>
    <form class="navbar-form" role="search" action="/checkups">
      <div class="radio">
        <label><input type="radio" name="gender" value="male">male</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="gender" value="female">female</label>
      </div>
      <div class="form-group"><input type="integer" name="age" value="<%= @age %>" class="form-control" placeholder="age">
        <button type="submit" class="btn btn-success hvr-grow" onclick="window.location.href='/index'">submit</button>
        <button type="reset"  class="btn btn-warning hvr-grow" onclick="window.location.href='/'">reset</button>
      </div>
    </form>
</div>  