<% provide(:title, 'Items Index') %>

<h3>I recommend:<br><br></h3>

<% @checkups.each do |checkup| %>
  <!-- <p><%= checkup.title %></p> -->
  <p><%= checkup.description %></p>
<% end %>

<h6><br>These recommendations come from the U.S. Preventive Services Task Force (USPSTF), the CDC Advisory Committee on Immunization Practices (ACIP), the Bright Futures Guidelines, and the Institute of Medicine’s (IOM) Committee on Preventive Services for Women. All are created by the Office of Disease Prevention and Health Promotion (ODPHP) in collaboration with the Agency for Healthcare Research and Quality (AHRQ).</h6>